<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="philipnewby.co.uk.instygram">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup.SignUpActivity"
            android:theme="@style/SignUpTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">

        </activity>
        <activity
            android:name=".feed.MainFeedActivity"
            android:theme="@style/MainFeedTheme">

        </activity>
        <activity
            android:name=".comment.CommentActivity"
            android:parentActivityName=".feed.MainFeedActivity"
            android:theme="@style/CommentTheme"
            android:windowSoftInputMode="adjustUnspecified">

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="philipnewby.co.uk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">

            </meta-data>
        </provider>


        <service android:name=".service.RefreshDataService" />
    </application>

</manifest>